body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3vw;
}

.title {
    margin-left: 2vw;
}

.content {
    width: 80vw;
    margin: auto;
}

.roles {
    margin-top: 5vh;
}

.roles li {
    list-style-type: none;
    font-size: 2vw;
    font-weight: 300;
    line-height: 3;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

#portrait {
    border-radius: 50%;
    margin-left: 17.5vw;
    width: 25vw;
}
